<% if notice != nil%>
	<p id="notice" class="notice-exceplanation"><%= notice %></p>
<% end %>

<%= render "cart" %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
<%= button_to'Empty cart',@cart, method: :delete,
    data:{confirm:'Are you sure?'}%>
