<!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>
    
    <!-- Content -->
    <div id="content">
      
      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
             <% for i in 0..3 %>
               <li><%= link_to image_tag(Product.find(18).image_url, :title => Product.find(18).title, :alt => Product.find(18).title.capitalize), url_for(Product.find(18)) %>
               </li>
              <%end%>
          </ul>
        </div>
        <div id="slider-nav">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
        </div>
      </div>
      <!-- End Content Slider -->
      
      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <% Product.all.limit(3).each do |product| %>
            <li>
              <%= link_to image_tag(product.image_url, :title => product.title, :alt => product.title.capitalize), url_for(product) %>
              <div class="product-info">
                <h3><%= product.title %></h3>
                <div class="product-desc">
                <h4>WOMEN’S</h4>
                  <p><%= product.description %></p>
                  <strong class="price"><%= product.price %></strong>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="cl">&nbsp;</div>
      </div>
      <!-- End Products -->
      
    </div>
    <!-- End Content -->
    
    <!-- Sidebar -->
    <div id="sidebar">
      
      <!-- Search -->
      <div class="box search">
        <h2>Search by <span></span></h2>
        <div class="box-content">
          <form action="" method="post">
            
            <label>Keyword</label>
            <input type="text" class="field" />
            
            <label>Category</label>
            <select class="field">
              <option value="">-- Select Category --</option>
            </select>
            
            <div class="inline-field">
              <label>Price</label>
              <select class="field small-field">
                <option value="">$10</option>
              </select>
              <label>to:</label>
              <select class="field small-field">
                <option value="">$50</option>
              </select>
            </div>
            
            <input type="submit" class="search-submit" value="Search" />
            
            <p>
              <a href="#" class="bul">Advanced search</a><br />
              <a href="#" class="bul">Contact Customer Support</a>
            </p>
  
          </form>
        </div>
      </div>
      <!-- End Search -->
      
      <!-- Categories -->
      <div class="box categories">
        <h2>Categories <span></span></h2>
        <div class="box-content">
          <ul>
              <li><a href="#">Category 1</a></li>
              <li><a href="#">Category 2</a></li>
              <li><a href="#">Category 3</a></li>
              <li><a href="#">Category 4</a></li>
              <li><a href="#">Category 5</a></li>
              <li><a href="#">Category 6</a></li>
              <li><a href="#">Category 7</a></li>
              <li><a href="#">Category 8</a></li>
              <li><a href="#">Category 9</a></li>
              <li><a href="#">Category 10</a></li>
              <li><a href="#">Category 11</a></li>
              <li><a href="#">Category 12</a></li>
              <li class="last"><a href="#">Category 13</a></li>
          </ul>
        </div>
      </div>
      <!-- End Categories -->
      
    </div>
    <!-- End Sidebar -->
    
    <div class="cl">&nbsp;</div>
</div>
<!-- End Main -->

<!-- Side Full -->
  <div class="side-full">
    
    <!-- More Products -->
    <div class="more-products">
      <div class="more-products-holder">
        <ul>
          <% Product.all.limit(Product.all.count - 1).each do |product|%>
            <li><%= link_to image_tag(product.image_url, :title => product.title, :alt => product.title.capitalize), url_for(product) %></li>
          <% end%>
            <li class="last"><%= link_to image_tag(Product.last.image_url, :title => Product.last.title, :alt => Product.last.title.capitalize), url_for(Product.last) %></li>
        </ul>
      </div>
      <div class="more-nav">
        <a href="#" class="prev">previous</a>
        <a href="#" class="next">next</a>
      </div>
    </div>
    <!-- End More Products -->
    
    <!-- Text Cols -->
    <div class="cols">
      <div class="cl">&nbsp;</div>
      <div class="col">
        <h3 class="ico ico1">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico2">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico3">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col col-last">
        <h3 class="ico ico4">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Text Cols -->
    
  </div>
  <!-- End Side Full -->


<!-- <h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= image_tag product.image_url_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %> -->
