<% content_for :head do %>
    <!-- JS -->
  <script src="js/jquery-1.4.1.min.js" type="text/javascript"></script> 
  <script src="js/jquery.jcarousel.pack.js" type="text/javascript"></script>  
  <script src="js/jquery-func.js" type="text/javascript"></script>  
  <!-- End JS -->
<% end %>

<% if notice %>
  <p id="notice" class="notice-exceplanation"><%= notice %></p>
<% end%>

<!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>
    
    <!-- Content -->
    <div id="content">
      
      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
             <% for i in 0..3 %>
               <li><%= link_to image_tag(Product.find(18).image_url, :title => Product.find(18).title, :alt => Product.find(18).title.capitalize), url_for(Product.find(18)) %>
               </li>
              <%end%>
          </ul>
        </div>
        <div id="slider-nav">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
        </div>
      </div>
      <!-- End Content Slider -->
      
      <!-- Products -->
      <div class="products-catalog">
       <table>
        <%= render :partial => '/products/products', :products => @Products %>

       </table>
      </div>
      <!-- End Products -->
      
    </div>
    <!-- End Content -->
    
    <!-- Sidebar -->
    <div id="sidebar">
      
      <!-- Search -->
      <div class="box search">
        <h2>Search by <span></span></h2>
        <div class="box-content">
          <form action="" method="post">
            
            <label>Keyword</label>
            <input type="text" class="field" />
            
            <label>Category</label>
            <select class="field">
              <option value="">-- Select Category --</option>
            </select>
            
            <div class="inline-field">
              <label>Price</label>
              <select class="field small-field">
                <option value="">$10</option>
              </select>
              <label>to:</label>
              <select class="field small-field">
                <option value="">$50</option>
              </select>
            </div>
            
            <input type="submit" class="search-submit" value="Search" />
            
            <p>
              <a href="#" class="bul">Advanced search</a><br />
              <a href="#" class="bul">Contact Customer Support</a>
            </p>
  
          </form>
        </div>
      </div>
      <!-- End Search -->
      
      <!-- Categories -->
      <div class="box categories">
        <h2>Categories <span></span></h2>
        <div class="box-content">
          <ul>
              <li><a href="#">Category 1</a></li>
              <li><a href="#">Category 2</a></li>
              <li><a href="#">Category 3</a></li>
              <li><a href="#">Category 4</a></li>
              <li><a href="#">Category 5</a></li>
              <li><a href="#">Category 6</a></li>
              <li><a href="#">Category 7</a></li>
              <li><a href="#">Category 8</a></li>
              <li><a href="#">Category 9</a></li>
              <li><a href="#">Category 10</a></li>
              <li><a href="#">Category 11</a></li>
              <li class="last"><a href="#">Category 12</a></li>
          </ul>
        </div>
      </div>
      <!-- End Categories -->
      
    </div>
    <!-- End Sidebar -->
    
    <div class="cl">&nbsp;</div>
</div>
<!-- End Main -->

<!-- Side Full -->
  <div class="side-full">
    
    <!-- More Products -->
    <div class="more-products">
      <div class="more-products-holder">
        <%= render partial: "more_products" %>
      </div>
      <div class="more-nav">
        <a href="#" class="prev">previous</a>
        <a href="#" class="next">next</a>
      </div>
    </div>
    <!-- End More Products -->
    
    <%= render partial: 'text_col'%>
    
  </div>
  <!-- End Side Full -->

