<!DOCTYPE html>
<html>
<head>
  <title>Shop Around</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
	
	<meta name="keywwords" content="Shop Around - Great shopping online website. Use it to buy clothes
	, watches and  perfumes online." />
	<meta name="description" content="Shop Around - Great shopping online website. Use it to buy clothes
	, watches and  perfumes online."/>
	
	<%= yield :head %>
</head>
<body>
<!-- Shell -->	
	<div class="shell">
		<%= render 'layouts/header' %>
			<div class="main-content">
				<%= yield %>
			</div>			
		<%= render 'layouts/footer' %>
	</div>	
<!-- End Shell -->
</body>
</html>
